@import '../themes/color-themes';

html,body, #root{
  height:100%;
  min-height:100vh;
}

.App {
  height:100%;
  background: aliceblue;
}

.wrapper {
  height: 100%;
  width: 100%;
  @include themed() {
    background: t($bg);
    color: t($primary-text-color);
  }
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
