//shortcuts
//having developers write strings ever time they wanted to use a variable, so I added shortcuts at the top of my _color-themes.scss file that simply output strings that match the keys in my $themes object.
$bg: 'bg';
$primary-text-color: 'primary-text-color';

//themes
$themes: (
        default: (
                bg: $bg--light,
                primary-text-color: $theme-color-dark,
                text-color-600: #596D79,
        ),
        dark: (
                bg: $bg--dark,
                primary-text-color: $bg--light,
                text-color-600: #b4b4b4,
        ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}